//// color backgrounds ////

@each $name, $value in $colors {
  .background-#{$name} {
    background-color: $value;
  }
}

//// specialty backgrounds ////

@mixin image-background-mixin($url, $position, $size: 50%) {
  @include small-screen-only {
    background-image: url($url);;
    background-repeat: no-repeat;
    background-size: $size;
    background-position: $position;
    // background-attachment: ;
  }
}

.chalk-background {
  background-image: url('../assets/images/chalk-swatch.png');
  background-size: 100vw 100%;
  min-height: 50vh;
  background-position: center;
}

.tavern-background {
  @include image-background-mixin('../assets/images/tavern-exterior.png', bottom center);
}

.fields-background {
  @include image-background-mixin('../assets/images/windmill-road.png', top right);
}

.castle-ruins-background {
  @include image-background-mixin('../assets/images/castle-ruins.png', bottom right);
}

.alchemy-symbols-background {
  @include image-background-mixin('../assets/images/alchemy-symbols.png', center center, 20%);
}
