//// color backgrounds ////

@each $name, $value in $colors {
  .background-#{$name} {
    background-color: $value;
  }
}

//// specialty backgrounds ////

@mixin image-background-mixin($url, $position, $size: 50%) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: $size;
    background-position: $position;
}

.semi-transparent-background {
  background-color: #fffe;
}

.chalk-background {
  background-image: url('../assets/images/chalk-swatch.png');
  background-size: 100vw 100%;
  min-height: 50vh;
  background-position: center;
}

.tavern-background {
  @include image-background-mixin('../assets/images/tavern-exterior.png', bottom center);
}

.castle-ruins-background {
  @include image-background-mixin('../assets/images/castle-ruins.png', bottom right);
}

.magic-circle-background {
  @include image-background-mixin('../assets/images/magic-circle.png', center center, 20%);
}

.alchemy-symbols-background {
  @include image-background-mixin('../assets/images/alchemy-symbols.png', center center, 20%);
}

.quill-background {
  @include image-background-mixin('../assets/images/quill-drawing.png', center center, 20%);
}

.flock-background {
  @include image-background-mixin('../assets/images/flock.png', top right, 20%)
}

.town-skyline-background {
  @include image-background-mixin('../assets/images/medeival-town-skyline.png', bottom right, 60%)
}

.dice-background {
  @include image-background-mixin('../assets/images/dice-sizes.png', center center)
}

.searching-background {
  @include image-background-mixin('../assets/images/searching-docs.png', center center)
}

.spellbook-background {
  @include image-background-mixin('../assets/images/spellbook.png', center center)
}

.scratchwallpaper-background {
  @include image-background-mixin('../assets/images/scratch-wallpaper.png', center center, cover);
}

//// PAINT SWATCH ON HOVER ////

@mixin swatch-hover-mixin( $hue-rotate, $grayscale, $brightness ) {
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 10%;
    left: 0%;
    width: 0%;
    height: 80%;
    max-height: 3em;
    background-image: url('../assets/images/paint-swatch-2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    // background-position: center;
    z-index: -1;
    transition: width 0.05s;
    filter: hue-rotate($hue-rotate) grayscale($grayscale) brightness($brightness);
  }

  &:hover::after {
    width: 100%;
  }
}

$swatch-rotations-light: (
  "pink": 0deg,
  "orange": 30deg,
  "yellow": 60deg,
  "lime": 90deg,
  "green": 120deg,
  "aqua": 150deg,
  "cyan": 180deg,
  "sky-blue": 210deg,
  "lavender": 240deg,
  "purple": 270deg,
  "hot-pink": 300deg,
);

@each $name, $rotation in $swatch-rotations-light {
  .swatch-hover-background-#{$name} {
    @include swatch-hover-mixin($rotation, 0, 1);
  }
}


.swatch-hover-background-alternating {
  &:nth-child(6n) {
    @include swatch-hover-mixin(0deg, 0, 1);
  }
  &:nth-child(6n - 1) {
    @include swatch-hover-mixin(60deg, 0, 1);
  }
  &:nth-child(6n - 2) {
    @include swatch-hover-mixin(120deg, 0, 1);
  }
  &:nth-child(6n - 3) {
    @include swatch-hover-mixin(180deg, 0, 1);
  }
  &:nth-child(6n - 4) {
    @include swatch-hover-mixin(240deg, 0, 1);
  }
  &:nth-child(6n - 5) {
    @include swatch-hover-mixin(270deg, 0, 1);
  }
}
