//// color backgrounds ////

@each $name, $value in $colors {
  .background-#{$name} {
    background-color: $value;
  }
}

//// specialty backgrounds ////

.chalk-background {
  background-image: url('../assets/images/chalk-swatch.png');
  background-size: 100vw 100%;
  min-height: 50vh;
  background-position: center;
}

.tavern-background {
  background-image: url('../assets/images/tavern-exterior.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom center;
}

.fields-background {
  background-image: url('../assets/images/wheat-field.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom right;
}

.castle-ruins-background {
  background-image: url('../assets/images/castle-ruins.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
}
