body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $main-font;
  // min-height: 100vh;
  // overflow: hidden;
  // padding: $body-padding;
}

.App {
  margin: 0;
  padding: $body-padding;
  min-height: 100vh;
  background-color: $white;
}

.App.dark-mode {
  background-color: $black;
}

li {
  list-style: $list-style;
}

input, select {
  font-family: inherit;
}
