@mixin border-colored($color) {
  border: solid $color $standard-border-width;
}

@each $color-name, $color-value in $colors {
  .border-#{$color-name} {
    @include border-colored($color-value);
  }
}

@mixin border-top-colored($color) {
  border-top: solid $color $standard-border-width;
}

@each $color-name, $color-value in $colors {
  .border-top-#{$color-name} {
    @include border-top-colored($color-value);
  }
}

@each $color-name, $color-value in $colors {
  .border-#{$color-name}-hover {
    @include border-colored($transparent);

    &:hover {
      @include border-colored($color-value);
    }
  }
}

.border-none {
  border: none;
}
