input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  color: $checkbox-color;
  width: $checkbox-size;
  height: $checkbox-size;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(0.3em);
  &::before {
    display: block;
    content: "";
    width: $checkbox-mark-size;
    height: $checkbox-mark-size;
    transform: scale(0) translateX(-50%) translateY(-50%);
    background-color: currentColor;
    transition: transform 0.1s;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 0.1em;
  }

  &:checked::before {
    transform: scale(1) translateX(-50%) translateY(-50%);
  }

  &:disabled {
    color: $disabled-checkbox-color;
  }

  & + label {
    color: $checkbox-color;
  }

  &:disabled + label {
    color: $disabled-checkbox-color;
  }

}
