input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  color: $checkbox-color;
  cursor: pointer;
  width: $checkbox-size;
  height: $checkbox-size;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(0.3em);
  position: relative;
  // background-image: url('../assets/images/checkbox-frame.png');
  background-size: contain;
  background-position: left;

  &.crossmark, &.checkmark {
    background-image: url('../assets/images/checkbox-frame.png');
    border: none;
    padding: 0.15em;
  }

  &.boxmark::before {
    display: block;
    content: "";
    width: $checkbox-mark-size;
    height: $checkbox-mark-size;
    transform: scale(0) translateX(-50%) translateY(-50%);
    background-color: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &.boxmark:checked::before {
    transform: scale(1) translateX(-50%) translateY(-50%);
    transition: color 0.3s;
  }

  &.checkmark::before {
    display: block;
    content: "";
    width: $checkbox-mark-size;
    height: $checkbox-mark-size;
    background-size: cover;
    opacity: 0;
    background-image: url('../assets/images/checkmark.png');
    transform: scale(3.5) translateX(0%) translateY(10%);
    transition: opacity 0.1s;
  }

  &.checkmark:checked::before {
    opacity: 1;
  }

  &.crossmark::before {
    display: block;
    content: "";
    width: $checkbox-mark-size;
    height: $checkbox-mark-size;
    background-size: cover;
    opacity: 0;
    background-image: url('../assets/images/checkbox-X.png');
    transform: scale(3) translateX(10%) translateY(20%);
    transition: opacity 0.1s;
  }

  &.crossmark:checked::before {
    opacity: 1;
  }

  &:disabled {
    cursor: default;
    filter: contrast(0);
  }

  & + label {
    color: $checkbox-color;
  }

  &:disabled + label {
    filter: contrast(0);
  }

}

.crossable-checkbox input[type="checkbox"] {
  &:checked + label {
    text-decoration: line-through;
  }
}
