.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
  align-content: space-around;
}

.space-between {
  align-content: space-between;
  justify-content: space-between;
}

.centered {
  justify-content: center;
  text-align: center;
}

.standard-gap {
  grid-column-gap: $standard-margin;
  grid-row-gap: $standard-margin;
}

.grid-columns-small {
  display: grid;

  @include tiny-screen-only {
    grid-template-columns: repeat(2, 1fr);
  }

  @include small-screen-only {
    grid-template-columns: repeat(4, 1fr);
  }

  @include medium-screen-only {
    grid-template-columns: repeat(6, 1fr);
  }

  @include large-screen-only {
    grid-template-columns: repeat(8, 1fr);
  }

  @include gigantic-screen-only {
    grid-template-columns: repeat(10, 1fr);
  }

}

.grid-columns-medium {
  display: grid;

  @include tiny-screen-only {
    grid-template-columns: repeat(2, 1fr);
  }

  @include small-screen-only {
    grid-template-columns: repeat(3, 1fr);
  }

  @include medium-screen-only {
    grid-template-columns: repeat(4, 1fr);
  }

  @include large-screen-only {
    grid-template-columns: repeat(5, 1fr);
  }

  @include gigantic-screen-only {
    grid-template-columns: repeat(6, 1fr);
  }
}

.grid-columns-large {
  display: grid;

  @include tiny-screen-only {
    grid-template-columns: 1fr;
  }

  @include small-screen-only {
    grid-template-columns: 1fr;
  }

  @include medium-screen-only {
    grid-template-columns: repeat(2, 1fr);
  }

  @include large-screen-only {
    grid-template-columns: repeat(2, 1fr);
  }

  @include gigantic-screen-only {
    grid-template-columns: repeat(3, 1fr);
  }
}

// DEFINED IN FORMATTING.SCSS
.half-large-screen {

  .grid-columns-small {
    @include medium-screen-only {
      grid-template-columns: repeat(2, 1fr);
    }

    @include large-screen-only {
      grid-template-columns: repeat(3, 1fr);
    }

    @include gigantic-screen-only {
      grid-template-columns: repeat(4, 1fr);
    }
  }

}
