.flex-scroll-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: auto;
}

.grid-columns-small {
  display: grid;

  @include tiny-screen-only {
    grid-template-columns: repeat(2, 1fr);
  }

  @include small-screen-only {
    grid-template-columns: repeat(4, 1fr);
  }

  @include medium-screen-only {
    grid-template-columns: repeat(6, 1fr);
  }

  @include large-screen-only {
    grid-template-columns: repeat(8, 1fr);
  }

  @include gigantic-screen-only {
    grid-template-columns: repeat(12, 1fr);
  }
}
