.labeled-input-section {

  input:not([type="checkbox"]), select {
    display: block;
    margin-top: $input-label-margin-top;
  }

  label {
    display: block;
    margin-top: $input-label-margin-top;
    &:first-child {
      margin-top: inherit;
    }
  }

  input[type="checkbox"] + label {
    display: inline;
  }

}

// DARK MODE //
//
.App.dark-mode {
  input:not([type="checkbox"]), select {
    color: $white;
    border-color: $white;
  }

  input[type="text"], input[type="number"], input[type="password"], input[type="email"] {
    background-color: $black;
  }

  input[type="submit"] {
    background-color: $dark-grey;
  }
  
  label {
    color: $white;
  }

  input[type="checkbox"] {
    color: $white;
  }
}