@mixin padding-and-margin($name, $size) {
  .padding-#{$name} {
    padding: $size;
  }

  .margin-#{$name} {
    margin: $size;
  }
}

@each $name, $size in $spacings {
  @include padding-and-margin($name, $size);
}

// HAS ADDITIONAL RULES IN FLEX.SCSS
.half-large-screen {
  @include large-screen-only {
    max-width: 50%;
  }
}
