input {
  transition: $color-transition-timing;
}

button, input[type=button] {
  cursor: pointer;
  border: solid $black 1px;
  border-radius: 5px;
  margin: $button-margin;
  background: none;

  &:disabled {
    border-color: $dark-grey;
  }

  &:hover {
    background-color: black;
    color: white;

    img, span {
      filter: invert(1);
    }
  }
}
