input {
  transition: $color-transition-timing;

  &:before {
    position: relative;
    z-index: -1;
  }

}

button, input[type=button] {
  cursor: pointer;
  border: solid $black 1px;
  border-radius: 5px;
  margin: $button-margin;
  background: none;

  &:disabled {
    border-color: $dark-grey;
  }

  &:hover:enabled {
    background-color: black;
    color: white;

    img, span {
      filter: invert(1);
    }
  }
}

select {
  background: none;
  border: solid $black 1px;
  border-radius: 5px;
  color: $black;
}

button.icon-button {
  border: none;
  background: none;
  width: $icon-button-size;

  @include small-screen-only {
    width: $icon-button-size * 1.2;
  }

  img {
    width: inherit;
  }

  &:hover {
    color: black;
    background: none;

    img {
      filter: invert(0);
    }
  }

}

//// DARK MODE ////
/// 
 .dark-mode {

  button.icon-button {
    filter: invert(1);
  }

  select {
    border: solid $white 1px;
    color: $white;
  }

}