.side-drawer {

  z-index: 10;

  position: fixed;
  top: 0;
  height: 95svh;
  width: 90svw;

  background-color: $white;
  box-shadow: -3px -5px 8px $black;
  
  transition: right 1s;
  
  overflow-y: auto;
  
  &.open {
    right: 0svw;
  }

  &.closed {
    right: -120svw;
  }
  
}

.drawer-mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100svw;
}

.dark-mode {
  .side-drawer {
    box-shadow: -3px -5px 8px $dark-grey;    
  }
}