@mixin text-colored($color) {
  color: $color;

  &:link {
    color: $color;
  }

  &:visited {
    color: $color;
  }

  &:active {
    color: $color;
  }
}

.italic {
  font-style: italic;
}

.crossed-out {
  text-decoration: line-through;
}

.no-decoration {
  text-decoration: none;
}

@each $color-name, $color-value in $colors {
  .text-#{$color-name} {
    @include text-colored($color-value);
  }
}


.dark-mode {

  .text-black {
    @include text-colored($white)
  }

  .text-white {
    @include text-colored($black)
  }

  .text-light-grey {
    @include text-colored($dark-grey)
  }

  .text-dark-grey {
    @include text-colored($light-grey)
  }

  .text-light-red {
    @include text-colored($dark-red)
  }

  .text-dark-red {
    @include text-colored($light-red)
  }

}

@each $font-name, $font-value in $fonts {
  .#{$font-name} {
    font-family: $font-value;
  }
}

.text-small {
  font-size: $text-small;
}

.text-medium {
  font-size: $text-medium;
}

.text-large {
  font-size: $text-large;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}
