@mixin text-colored($color) {

  color: $color;

  &:link {
    color: $color;
  }

  &:visited {
    color: $color;
  }

  &:active {
    color: $color;
  }

}

.italic {
  font-style: italic;
}

.crossed-out {
  text-decoration: line-through;
}

@each $color-name, $color-value in $colors {
  .text-#{$color-name} {
    @include text-colored($color-value);
  }
}

.hand-written {
  font-family: $hand-written-font;
}
